.surrounding {
  background: '#fff'
}

.surrounding.dark{
  background: #232129;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 61.8vh;
  max-height: 400px;
  background: #e1e1e1;
  color: #0c0c0c;
  font-size: 2em;
  overflow: hidden;
}


